html
   head
      title Shopping Cart App
      link(
         rel="stylesheet"
         href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(
         rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro")
      link(
            rel="stylesheet"
            href="/build/style.css")
      meta(charset="utf-8")
   body
      div(id="shopping-cart")
      
      script(type="text/javascript" src="/build/bundle.js")
